.countdown{
    min-width: 80%;
    width: 100px;
    margin: 4rem auto;
}
.countdown p{
    font-size: 2em;
    font-family: inherit;
    font-weight: 400;
}

.countdown p:first-child{
    font-size: 1rem;
    padding-bottom: 0.2rem;
    margin: 1rem;
    font-weight: 300;
}

@media screen and (min-width: 1300px){
    .countdown{
     min-width: 45%;
     width: 400px;
    }
    .countdown p{
    font-size: 4rem;
    font-family: inherit;
    font-weight: 900;
    }
.countdown p:first-child{
    font-size: 3rem;
    padding-bottom: 0.5rem;
    margin: 1rem;
    font-weight: 600;
}
}