.rock_solid{
  margin: 0.5rem auto
}

.main{
  width: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.85rem;
  font-weight: 800;
}

.title span:first-child {
  margin-right: 10px;
}

.subtitle {
  animation: slide-in 1s forwards;
  opacity: 0;
}

.bodyText{
  padding: 1rem 2rem;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media screen and (min-width: 992px) {
   .bodyText{
      padding: 1rem 2rem;
      width: 70%;
      margin: 0 auto;
}
}

@media screen and (max-width: 590px){
  .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.85rem;
  font-weight: 800;
}
}
@media screen and (min-width: 1000px) {

}
